mat-sidenav-container {
    &.my-dark-theme {
        background-color: black;
        color:#fff;
    }
    .site {
        display: flex;
        flex-direction: column;
        main {
            flex: 1;
        }
    }
}
